<%- include('./partials/header.ejs') %>
Post details:
<%if(post) {%>
    title: <%= post.title%>
    description: <%= post.description%>
    By: <%= post.first_name%> <%= post.last_name%>
    On: <%= post.create_date%>
<%}%>
<br>
<br>
<form action = '/posts/newComment' method = 'POST'>
    Add comment:
<input type="hidden" name="post_id" value="<%= post.id%>">
<textarea id="commentText" name="commentText"></textarea>
<button type="submit">Comment</button>
</form>

<br>
<br>

Comments:
<%if(comments){%>
    <%comments.forEach(c => {%>
        comment: <%= c.comment%>
        on: <%= c.create_date%>
        By: <%= c.first_name%> <%=c.last_name%>
        <br>
    <%})%>
<%}%>

<%- include('./partials/footer.ejs') %>